In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Data Source/aluguel_residencial.csv', sep=';')

## Get only records as 'Apartamento'.

In [4]:
select = data['Tipo'] == 'Apartamento'

In [11]:
n1 = pd.DataFrame(data[select])

## Get only places classified as 'Casa', 'Casa de Condomínio' and 'Casa de Vila'.

In [14]:
select = (data['Tipo'] == 'Casa') | (data['Tipo'] == 'Casa de Condomínio') | (data['Tipo'] == 'Casa de Vila')

In [15]:
n2 = pd.DataFrame(data[select])

## Get places with an area between 60 and 100 meters

In [16]:
select = (data['Area'] >= 60) & (data['Area'] <= 100)

In [17]:
n3 = pd.DataFrame(data[select])

## Getting places with 4 rooms and price lower than R$ 2.000,00

In [18]:
select = (data['Quartos'] >= 4) & (data['Valor'] < 2000)

In [19]:
n4 = pd.DataFrame(data[select])