# This file will prepared a new dataset based on residential properties of original file

In [2]:
# import pandas library
import pandas as pd

In [3]:
properties = pd.read_csv('/Users/yuribreion/Documents/Python/Pandas/Data Source/aluguel.csv', sep = ';')

In [4]:
# getting property types 
list(properties['Tipo'].drop_duplicates())
# creating a new variable with only required property types
residential = ['Quitinete',
 'Casa',
 'Apartamento',
 'Casa de Condomínio',
 'Casa de Vila']

In [5]:
# getting only records that match the property type
properties['Tipo'].isin(residential).head(20)

0      True
1      True
2     False
3      True
4      True
5      True
6      True
7      True
8      True
9     False
10     True
11     True
12     True
13     True
14     True
15     True
16    False
17    False
18     True
19     True
Name: Tipo, dtype: bool

In [6]:
# getting only properties required
residential_properties = properties['Tipo'].isin(residential)
residential_properties_dataframe = properties[residential_properties]

In [7]:
# fix dataframe index
residential_properties_dataframe.index = range(residential_properties_dataframe.shape[0])
residential_properties_dataframe.head(30)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
6,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
7,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
8,Apartamento,Centro,1,0,0,36,1200.0,NaN,NaN
9,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0
10,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0
11,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0
12,Quitinete,Copacabana,1,0,0,27,1800.0,501.0,NaN
13,Apartamento,Copacabana,4,3,1,243,13000.0,2000.0,803.0
14,Casa de Condomínio,Taquara,3,1,1,115,2000.0,NaN,NaN
15,Apartamento,Freguesia (Jacarepaguá),3,0,0,54,950.0,300.0,28.0
16,Apartamento,Barra da Tijuca,2,1,1,67,1700.0,589.0,147.0
17,Apartamento,Tijuca,2,1,0,110,1900.0,700.0,138.0
18,Casa de Condomínio,Barra da Tijuca,4,3,2,466,7500.0,2695.0,NaN
19,Apartamento,Olaria,3,1,0,68,1000.0,670.0,NaN
20,Apartamento,Tijuca,2,1,0,78,2000.0,700.0,NaN
21,Apartamento,Ipanema,3,1,1,125,7000.0,2100.0,463.0
22,Apartamento,Tijuca,1,0,0,48,750.0,772.0,25.0
23,Apartamento,Barra da Tijuca,3,3,1,175,4200.0,1500.0,500.0
24,Casa,Campo Grande,4,1,2,400,12000.0,NaN,NaN
25,Apartamento,Botafogo,2,1,0,76,2500.0,740.0,NaN
26,Apartamento,Copacabana,3,1,2,378,10000.0,2150.0,700.0
27,Apartamento,Copacabana,3,0,0,180,5500.0,1780.0,420.0
28,Apartamento,Recreio dos Bandeirantes,3,1,1,105,2300.0,648.0,NaN
29,Apartamento,Leblon,3,1,0,110,3900.0,1500.0,120.0

In [9]:
# export this new dataset to a file
residential_properties_dataframe.to_csv('/Users/yuribreion/Documents/Python/Pandas/Data Source/aluguel_residencial.csv', sep = ';', index = False)