# Creating new variables

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Data Source/aluguel_residencial_tratado.csv', sep=';')

In [3]:
data['Valor Bruto'] = data['Valor'] + data['Condominio'] + data['IPTU']

In [4]:
data['Valor M2'] = data['Valor'] / data['Area']

In [5]:
data['Valor M2'] = data['Valor M2'].round(2)

In [6]:
data['Valor Bruto M2'] = (data['Valor Bruto'] / data['Area']).round(2)

In [8]:
casa = ['Casa', 'Casa de Condomínio', 'Casa de Vila']

In [9]:
data['Tipo Agregado'] = data['Tipo'].apply(lambda x: 'Casa' if x in casa else 'Apartamento')

In [10]:
data.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor Bruto,Valor M2,Valor Bruto M2,Tipo Agregado
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,2260.0,42.50,56.50,Apartamento
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,7000.0,70.00,70.00,Casa
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,1210.0,53.33,80.67,Apartamento
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,1030.0,16.67,21.46,Apartamento
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,1618.0,26.00,32.36,Apartamento